<div id="box">
  <p id="HeadingPL">Premier League Table</p>
  <div id="buttonAlign">
    <div id="Left">
      <button type="button" class="buttonSort">Sort(Desc): Goals Scored</button>
    </div>
    <div id="Right">
      <button type="button" class="buttonSort">Sort(Desc): No of Wins</button>
    </div>
  </div>
  <div id="tableAlign">
    <table border="5" id="table">
      <tr>
        <th>Club Name</th>
        <th>Club Location</th>
        <th>Seasons Played</th>
        <th>Wins</th>
        <th>Defeats</th>
        <th>Draws</th>
        <th>Points</th>
        <th>Matches Played</th>
        <th>Goals Received</th>
        <th>Goals Scored</th>
      </tr>
    </table>
  </div>
</div>
